.cache
*/.Rhistory
*/*.md
.DS_Store
/bin
/shiny/math/*
/visc/r-maps/*.svg
/visc/sampledata.tar.gz
/visc/sampledata/temp/
/visc/sampledata/temp2/
/visc/gridsvg/*
/visc/jquery/*
/lib/*.jar

.Rproj.user
.Rhistory
